.css-1w0ubgf.e1tzin5v2 {
    background-color: rgb(224, 235, 255);
    height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.css-kbnamk.e1tzin5v2 {
    background-color: rgb(255, 242, 208); /*rgb(216, 237, 213);*/
    height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.st-bw.st-cb.st-cc.st-ae.st-af.st-ag.st-ah.st-ai.st-aj {
    padding: 10px;
    width: 100%;
}



.st-bh.st-cd.st-bl.st-bm.st-bn.st-bo.st-az.st-b4.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-b2.st-bz {
    display: none;
}

.st-bh.st-cd.st-bl.st-bm.st-bn.st-bo.st-az.st-b4.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-b2.st-bz :checked{
    display: none;
    visibility: hidden;
}

input[type="radio"]:checked {
    display: none;
  }

option:checked {
    color: red;
}
